.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--ion-color-light); // Un fondo sutil
  border-bottom: 1px solid var(--ion-color-medium-shade);
}

.main-avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 3px solid var(--ion-color-primary);
  padding: 3px;
}

.user-name {
  margin: 0;
  font-weight: bold;
}

.user-email {
  color: var(--ion-color-step-600);
  margin-top: 4px;
}