<app-menu></app-menu>

<div class="ion-page" id="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <ion-title>Main</ion-title>
    </ion-toolbar>
  </ion-header>  



<!--Aquí va el contenido principal de la página, para no perderme xd-->
  <ion-content>
<!-- grafica xd-->
 <!--
<ion-card>
  <ion-card-header>
    <ion-card-title>Calidad del aire</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="chart-container">
      <canvas #grafica></canvas>
    </div>
  </ion-card-content>
</ion-card>
-->
<ion-card>
  <ion-card-header>
    <ion-card-title>Dispositivos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let dispositivo of dipositivos" >
        <ion-thumbnail slot="start">
          <img [src]="dispositivo.img" alt="Imagen del dispositivo">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ dispositivo.nombre }}</h2>
          <p>Estado: Conectado</p>
          <div class="ion-padding">
          
        <ion-item lines="outline" lines="none">
          <ion-select
          label="Opciones..."
          interface="popover"
          placeholder="Seleccione una opción"
          (ionChange)="navegar($event)"
          >

          <ion-select-option>Historial</ion-select-option>
          <ion-select-option>Descargar PDF</ion-select-option>

          </ion-select>

         </ion-item>
          </div>
          
        </ion-label>
      </ion-item>
<ion-item>
  <ion-grid>
    <ion-row style="border-bottom: 2px solid #ccc; font-weight: bold;">
      <ion-col>Aire (MQ135)</ion-col>
      <ion-col>CO (MQ7)</ion-col>
      <ion-col>Gas (MQ2)</ion-col>
      <ion-col>Temp</ion-col>
      <ion-col>Hum</ion-col>
    </ion-row>
  <ion-row *ngIf="lecturas$ | async as dato">
  <ion-col>{{ dato.co2_mq135 }}</ion-col>
  <ion-col>{{ dato.co_mq7 }}</ion-col>
  <ion-col>{{ dato.glp_mq2 }}</ion-col>
  <ion-col>{{ dato.temperatura }}°C</ion-col>
  <ion-col>{{ dato.humedad }}%</ion-col>
</ion-row>
  </ion-grid>
</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>




<!--el botoncito xd -->



</ion-content>


 <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list aria-label="Soporte" side="top" >
    <ion-fab-button color="tertiary" (click)="goToSupport()">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color ="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


</div>




