<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olvide mi contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ForgetPassword</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-input placeholder="Introduzca su correo electronico" type="email"></ion-input>
    <ion-button expand="block" (click)="sendResetLink()">Enviar Enlace de Restablecimiento</ion-button>
  </div>
</ion-content>
