ion-content{
    --background: #C5E1F8; // Fondo azul claro para un look fresco
}

.input-container {

  background: #E3E7F1; // Fondo sutil
  border-radius: 12px;                // Bordes redondeados
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); // Sombra suave
  margin-bottom: 10px;
  margin: 5px 20px; // Agrega margen alrededor del contenedor de inputs
    margin-top: 30px;
  
  ion-list {
    background: transparent; // Quita el fondo blanco por defecto de la lista
  }

  ion-item {
    --border-style: none;     // Quita las líneas divisorias si prefieres un look limpio
    --background: transparent;
  }
}


ion-toolbar {
  --background: transparent;
  --color: #3673B5;
}

ion-title {
  font-size: 24px !important;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ion-button[expand="block"] {
  --border-radius: 10px;      // Botones más modernos
  height: 50px;               // Un poco más altos para facilitar el tap
  font-weight: 600;
  margin-top: 25px;
}