<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="register-container">
    <ion-list>
      <ion-item>
        <ion-input
          label="Usuario"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="user.username"
          placeholder="Introduce tu usuario"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          type="email"
          placeholder="Introduce tu email"
          [(ngModel)]="user.email"
        >
        </ion-input>

      </ion-item>
      <ion-item>

        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          placeholder="********"
          [(ngModel)]="user.password"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Confirmar contraeña"
          labelPlacement="floating"
          type="password"
          placeholder="********"
          [(ngModel)]="user.confirmPassword"
        >
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="registro()">
        Registrarse
      </ion-button>

      <ion-button routerLink="/login" expand="block" class="ion-margin-top">
        Volver al Login   
      </ion-button>


    </ion-list>

  </div>



</ion-content>
